kafka-cdc.iml

.idea

node1/connect1_data
node1/broker1_data
node1/connect1_logs
node1/connect1_plugins


node2/controller2_data
node2/broker2_data
node2/connect2_data
node2/connect2_logs
node2/connect2_plugins

node3/controller3_data
node3/broker3_data
node3/connect3_data
node3/connect3_logs
node3/connect3_plugins
